<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
    <div class="text-center">
        <h1 class="text-center font-weight-bold">Smart Contact Manager</h1>
        <p>
            An Application Created by l33t-c0d3r-66 to save your contacts without any problem
        </p>
        <button class="btn bg-primary btn-lg">Get Started</button>
    </div>
</section>

</body>
</html>