<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Forgot Password</title>
</head>
<body>



<section class="banner d-flex justify-content-center align-items-center">
  <div id="login">
    <div class="container">
      <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
          <div id="forgot-box" class="col-md-12">
            <div class="container text-center">
              <h3>Change Password</h3>
            </div>
            <div class="container mt-3">
              <form th:action="@{/change-password}" method="post">
                <div class="form-group">
                  <input type="password" name="newPassword" placeholder="Enter your New Password" class="form-control" required="required">
                </div>
                <div class="container text-center">
                  <button class="btn btn-primary">Change Password</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>