<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
  <meta charset="UTF-8">
  <title>Forgot Password</title>
</head>
<body>
<section class="banner-sign-up d-flex justify-content-center align-items-center">
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 mt-5">
      <div class="u-card m-5">
        <div class="container text-center mt-5">
          <img class="mx-auto" th:src="@{/images/forget.png}" alt="" width="180px" height="180px">
        </div>
        <div class="container text-center mt-5">
          <h3 class="">Your registered Email</h3>
          <div th:if="${session.message}" th:classappend="${session.message.type}" class="mt-3 alert" role="alert">
            <p class="text-center" th:text="${session.message.content}"></p>
            <th:block th:text="${#session.removeAttribute('message')}"></th:block>
          </div>
        </div>
        <div class="container mt-3">
          <form th:action="@{/send-otp}" method="post">
            <div class="form-group">
              <input type="email" name="email" placeholder="Enter your email" class="form-control" required="required">
            </div>
            <div class="container text-center">
              <button class="btn btn-warning">Send OTP</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
</section>

</body>
</html>